* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: pp mori;
  color: #fff;
}
html,
body {
  height: 100%;
  width: 100%;
}
.cursor {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: rgba(233, 99, 233, 0.362);
  position: fixed;
  z-index: 8;
  mix-blend-mode: difference;
  transition: left linear 0.1s top linear 0.1s;
}
#mian {
  background-color: #0f0d0d;
}
.page1 {
  min-height: 177vh;
  width: 100%;
  background-color: #0f0d0d;
  z-index: 9;
  position: relative;
}
.nav {
  display: flex;
  justify-content: space-between;
  padding: 1vh 3vw;
  /* background-color: antiquewhite; */
  /* border-bottom: 2px solid white */
}
.nav .nav-first {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav .nav-first > img {
  width: 3vw;
}
.nav .nav-first > h3 {
  gap: -1vw;
}
.nav .nav-secound {
  align-items: center;
  display: flex;
  gap: 1.3vw;
}
.nav .nav-secound > h4 {
  font-weight: 300;
}
.nav .nav-third {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav .nav-third .circle {
  height: 2vh;
  width: 1vw;
  background-color: #fff;
  border-radius: 50%;
}
.page1 .textSection > h1 {
  font-size: 8vw;
  font-weight: 400;
  margin-top: 25vh;
  margin-left: 6vw;
}
.page1 .textSection > h2 {
  font-size: 8vw;
  font-weight: 400;
  margin-left: 25vw;
}
.page1 .videoSection {
}
.page1 .videoSection > video {
  position: relative;
  margin-top: 10vw;
  width: 60%;
  left: 50%;
  transform: translate(-50%, 0);
}

.page2 {
  min-height: 100vh;
  width: 100%;
  background-color: #0f0d0d;
  border-bottom: 2px solid black;
  z-index: 9;
  position: relative;
}
.page2 > h3 {
  color: black;
  font-size: 5vw;
  padding: 3vh 2vw;
  padding-top: 3vw;
}
.page2-about {
  display: flex;
}

.page2 .page2-left {
  /* background-color: aquamarine; */
  width: 60%;
}
.page2 .page2-right {
  /* background-color: beige; */
  width: 40%;
}
.page2 .page2-left .content-left {
  margin: 15vh 5vw;
  height: 40%;
  width: 50%;
}
.page2 .page2-left .content-left > h1 {
  padding: 3vh 3vw;
  color: black;
  font-weight: 490;
  font-size: 2.6vw;
}
.page2 .page2-right .content-rigt {
  margin: 15vh 5vw;
  height: 40%;
  width: 60;
}
.page2 .page2-right .content-rigt > p {
  padding: 3vh 3vw;
  color: black;
  font-size: 1.7vw;
}
.page2 .page2-right .content-rigt > button {
  background-color: rgb(237, 120, 213);
  color: black;
  border: none;
  padding: 1vh 7vw;
  margin-left: 3vw;
  border-radius: 2vw;
  font-size: 1vw;
}
.page3 {
  min-height: 100vh;
  width: 100%;
  /* background-color: #0f0d0d; */
  z-index: 9;
  position: relative;
 padding: 10vw;
}
.page3 .elm {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: green; */
  position: relative;
  
}
.page3 .elm img {
  height: 40vh;
  opacity: 0;
  position: absolute;
  transition: all ease-out 0.5s;
  rotate: 2deg;

}
.page3 .elm img:nth-child(1) {
  left: 5%;
}
.page3 .elm img:nth-child(3) {
  right: 5%;
}

.page3 .elm .text-div {
  /* background-color: yellow; */
  height: 12vh;
  overflow: hidden;
}
.page3 .elm .text-div h1 {
  font-size: 6vw;
  transition: all ease-out 0.5s;
}
.greeting{
  /* background-color: #8f2727; */
  margin-top: 19vh;
}
.page3 .greeting .text-greting{
  /* background-color: blue; */
  height: 12vh;
  overflow: hidden;
}

.page3 .greeting .text-greting>H2{
  font-size: 6VW;
  text-align: center;
 transition: all ease-out 0.5s;
}
.elm:hover h1 {
  transform: translateY(-100%);
  color: #EDBFFF;
}

.page3 .elm:hover img{
  opacity: 1;
  rotate: 0deg;

  
}
.page3 .greeting .text-greting:hover h2{
  transform: translateY(-100%);
  color: rgb(179, 58, 227);
}